@import url(../../variable.css);

.product-card{
    max-width: 330px;
    width: 100%;
    height: 465px;
    background-color: #2F3236;
}
.product-card--statusproduct{
    width: 100%;
    height: 35px;
    padding-inline: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-card--image {
    width: 100%;
    height: 305px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 45px;
    padding-top: 12px;
}
.product-card--image > img{
    object-fit: contain;
}
.bproduct-card--image > .avatar{
    object-fit: contain;
}
.product-card--statusproduct--sale{
    width: 66px;
    height: 34px;
    background-color: var(--accent-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-card--statusproduct--sale--like{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: var(--blur-color);
    display: flex;
    align-items: center;
    justify-content: center;
}   
.product-card--description {
    padding-left: 20px;
    padding-right: 45px;
    padding-bottom: 30px;
}   
.product-card--description > h1{
    font-size: 1.5rem;
}
.product-card--description > p{
    font-size: 1rem;
}
.product-card--description > h1, 
.product-card--description > p{
    color: #FFFFFF;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.product-card--description--cost{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 41px;
}
.product-card--description--costnumber{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 17px;
}
.product-card--description--costnumber > .active{
    color: #FFFFFF;
    font-size: 1.25rem;
}
.product-card--description--costnumber > .unactive{
    color: #FFFFFF;
    opacity: 50%;
    font-size: 1.125rem;
    text-decoration: line-through;
}
.product-card--statusproduct--new{
    width: 66px;
    height: 34px;
    background-color: var(--blur-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}