@import url(./variable.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.body{
    background-color: var(--primary-color)
}

.header{
    width: 100%;
    height: 115px;
    padding: 0 95px;
    gap: 63px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
}
.header > span{
    font-size: 42px;
    color: white;
    display: none;
}
.header >img{
    width: 187px;
    min-width: 0;
}
.header__navbar{
    display: flex;
    justify-content: center;
    gap: 63px;
}
.header__navbar > a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.body{
    width: 100%;
    max-width: 2000px;
}
.body__herosection{
    position: relative;
    width: 100%;
    height: 611px;
    padding: 95px 145px;
}
.body__herosection::before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    top: 0;
    left: 0;
    transform: scaleX(-1);
    background-image: url(/assets/images/herosection/herosection.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    z-index: 1;
}
.body__herosection--content{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
    position: relative;
    z-index: 2;
}
.body__herosection--content > h1{
    white-space: nowrap;
}

.body__option{
    width: 100%;
    padding: 150px 95px 100px 95px;
    display: flex;
    justify-content: space-between;
    gap: 46px;
    background-color: var(--primary-color);
}
.body__option--content{
    width: 100%;
    max-width: 440px;
    height: 197px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #2F3236;
    padding-inline: 40px 60px;
    color: white;
    border-radius: 6px;
}
.body__option--content > div{
    white-space: nowrap;
}

.body__about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 98px;
    padding: 0 95px;
    background-color: var(--primary-color);
    padding-bottom: 100px;
}
.body__about--image{
    width: 50%;
}
.body__about--image > img{
    width: 100%;
    min-width: 180px;
    object-fit: contain;
}
.body__about--content{
    width: 50%;
}
.body__about--content > h1:nth-child(1){
    color: var(--accent-color);
    font-size: 1.5rem;
}
.body__about--content > h1:nth-child(2){
    white-space: normal;
    color: #FFFFFF;
    font-size: 2rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
}
.body__about--content > pre{
    white-space: normal;
    color: #FFFFFF;
    font-size: 1.25rem;
    margin: 30px 0 40px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    text-overflow: ellipsis;
    overflow: hidden;
}
.body__bestselling_product{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
}
.body__bestselling_product > button{
    margin-top: 80px;
}
.body__bestselling_product--title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}
.body__bestselling_product--title > h1{
    color: #FFFFFF;
}
.body__bestselling_product--title > pre{
    text-align: center;
    color: #FFFFFF;
    white-space: pre-wrap;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}
.body__bestselling_product--item-section1{
    width: 330px;
    height: 465px;
    background-color: #2F3236;
}
.body__bestselling_product--status{
    display: flex;
    gap: 20px;
}
.body__bestselling_product--items-section1{
    padding-inline: 95px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.bestselling_product-2{
    margin-top: 100px;
}
.body__bestselling_product--items-section2{
    display: flex;
    width: 100%;
    padding-inline: 95px;
    justify-content: space-between;
    gap: 30px;
}


.body__popular_products{
    width: 100%;
    height: max-content;
    background-color: var(--primary-color);
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding-bottom: 130px;
}

.body__popular_products--title{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.body__popular_products--items{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-inline: 95px;
}

/* Table */
@media (min-width: 672px) and (max-width: 1280px){
    html{
        font-size: 14px;
    }
    .header{
        padding: 0 40px !important; 
    }
    .header > nav{
        gap: 33px;
    }
    .body__option{
        padding: 40px 25px;
        overflow-x: scroll
    }
    .body__about{
        gap: 20px;
        padding: 0 40px 50px 40px;
    }
    .body__about--content > pre{
        margin: 10px 0 20px 0;
    }
    .body__bestselling_product--title{
        padding-bottom: 50px;
    }
    .body__bestselling_product--items-section1{
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 0 40px;
    }
    .body__bestselling_product--items-section2{
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 0 40px;
    }
    .body__popular_products--items{
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (min-width: 320px) and (max-width: 672px){
    html{
        font-size: 12px;
    }
    .header{
        padding-inline: 10px;
    }
    .header > nav{
        display: none;
    }
    .header > span{
        display: inline-block;
    }
    .body__herosection{
        padding: 20px 20px;
        height: 411px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    .body__herosection--content{
        align-items: center;
        text-align: center;
    }
    .body__option{
        padding: 46px 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .body__about{
        padding: 0 20px 35px;
        gap: 0;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .body__about--image{
        width: 100%;
        order: 1;
    }
    .body__about--content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .body__about--content > pre{
        margin: 10px 0 20px 0;
    }
    .body__bestselling_product{
        padding: 0 20px;
    }
    .body__bestselling_product--title{
        padding-bottom: 25px;
    }
    .body__bestselling_product--items-section1{
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }
    .body__bestselling_product--items-section2{
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }
    .body__popular_products--items{
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }
    .body__popular_products{
        padding: 0 20px;
    }
}